.top-nav{
    background-color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.274);
}

.top-nav__profile-div{
    height: 8vh;
    width: 8vh;
    background-color: darkgrey;
    border-radius: 50%;
    margin: 0 30px;
}

.top-nav__logout-btn{
    padding: 5px 10px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.664);
    border: 1px solid rgba(128, 128, 128, 0.596);
    border-radius: 3px;
    cursor: pointer;
}